<div class="left-bar bg-slate-100 text-slate-400">
    <h3 class="text-center  font-semibold">Выбрать слой: </h3>

    <div class="radio">

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapHumanitarian" checked>
            <span class="custom-radio"></span>
            Основная карта
        </label>  

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapDistrict">
            <span class="custom-radio"></span>
            Карта районов
        </label>  
        
        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapRoadLines">
            <span class="custom-radio"></span>
            Карта дорог
        </label> 

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapBase">
            <span class="custom-radio"></span>
            Детальная карта города
        </label>

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapSepia">
            <span class="custom-radio"></span>
            Светлая карта
        </label>        
        
        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapDark">
            <span class="custom-radio"></span>
            Тёмная версия
        </label>   

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapBlack">
            <span class="custom-radio"></span>
            Чёрно-белая карта
        </label>     

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" id="MapStamen">
            <span class="custom-radio"></span>
            Карта ресурсов
        </label>   


    </div>
</div>

