.left-bar {
    width: 15em;
    height: 100vh;
    margin-right: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
}