.left-bar {
    width: 15em;
    height: 100vh;
    margin-right: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
}

.radio {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: radio;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
}

.radioOption {
    height: 0px;
    width: 0px;
    opacity: 0;
    z-index: -1;
}

.custom-radio {
    position: relative;
    top: -5px;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-color: white;
    border: 2px solid #AEADAE;
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 19px;
    vertical-align: text-top;
}

.custom-radio::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #3E29E3;
    border: 2px solid #3E29E3;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
}

.radioOption:checked + .custom-radio::before {
    display: block;
}

.radioOption:checked + .custom-radio::before .custom-radio {
    border: 2px solid #3E29E3;
}