<div class="left-bar bg-slate-100 text-slate-400">
    <h3>Layers</h3>

    <input type="radio" name="LayerOption" value="MapBase" checked>MapBase <br>
    <input type="radio" name="LayerOption" value="MapHumanitarian" checked>MapHumanitarian <br>
    <input type="radio" name="LayerOption" value="MapBlack" checked>MapBlack <br>
    <input type="radio" name="LayerOption" value="MapStamen" checked>MapStamen <br>
    <input type="radio" name="LayerOption" value="MapRoadLines" checked>MapRoadLines <br>
    <input type="radio" name="LayerOption" value="MapSepia" checked>MapSepia <br>
    <input type="radio" name="LayerOption" value="MapDark" checked>MapDark <br>
    <input type="radio" name="LayerOption" value="MapDistrict" checked>MapDistrict <br>
</div>
