<div class="left-bar bg-slate-100 text-slate-400">
    <h3 class="text-center  font-semibold">Выбрать слой</h3>

    <div class="radio">
        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value=" MapBase" checked>
            <span class="custom-radio"></span>
            MapBase
        </label>

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value="MapHumanitarian">
            <span class="custom-radio"></span>
            MapHumanitarian
        </label>

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value="MapBlack">
            <span class="custom-radio"></span>
            MapBlack
        </label>

        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value="MapStamen">
            <span class="custom-radio"></span>
            MapStamen
        </label>        
        
        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value="MapRoadLines">
            <span class="custom-radio"></span>
            MapRoadLines
        </label>        
        
        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value="MapSepia">
            <span class="custom-radio"></span>
            MapSepia
        </label>        
        
        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value="MapDark">
            <span class="custom-radio"></span>
            MapDark
        </label>        
        
        <label class="labelType">
            <input type="radio" class="radioOption" name="LayerOption" value="MapDistrict">
            <span class="custom-radio"></span>
            MapDistrict
        </label>        
        

    </div>
</div>

