@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,300&family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #dee2e69a
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

main {
    display: flex;
    flex-grow: 1;
    height: 100vh;
}


header {
    padding: 15px;
}
header .title {
    font-size: 26px;
}


.map-container {
    flex-grow: 1;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
}

.ol-control{
    background-color: transparent !important;
}

.ol-control button:hover{
    outline: none !important;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.78);
}

.ol-control button {
    color: rgba(34, 60, 80, 0.78) !important ;
    background-color: #cbd5e1 !important;
    opacity: 0.8;
    outline: none;
}