
<app-header></app-header>
<main>
    <div class="left-bar bg-sky-600 text-white">
        <ul class="list-none text-left ml-5 mr-5 mt-10 flex flex-col gap-10">
            <li class="li active">Базовая карта</li>
            <li class="li">Регулирование прозрачности</li>
            <li class="li">Карта дорог разных стилей</li>
            <li class="li">Тур по карте</li>
            <li class="li">Движение на карте</li>
        </ul>
    </div>
    <div id="ol-map" class="map-container"></div>
</main>

