:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    padding: 15px;
}
header .title {
    font-size: 26px;
}
main {
    display: flex;
    flex-grow: 1;
}
.left-bar {
    width: 15em;
}
.map-container {
    flex-grow: 1;
}

.li:hover,
.li:visited{
    color: rgb(44, 51, 167);
    cursor: pointer;
}

.li:active{
    color: white;
    text-decoration: underline;
}